<!--main content-->
<div class="page-content">
    <div class="main-wrapper">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card table-widget">
                    <h3 class="text-center mt-3"> Bảng sản phẩm hiện có tại cửa hàng - #{{this.storedID}} </h3>
                    <div class="card-body">
                        <div class="table-responsive fix-head">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Mã sản phẩm</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Số lượng tồn</th>
                                    <th scope="col">Đơn giá</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each list}}
                                    <tr>
                                        <td>#{{proID}}</td>
                                        <td>{{pname}}</td>
                                        <td>{{stock}}</td>
                                        <td>{{price}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

